<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
	<title>
			{% block title %}

			{% endblock %} | Flask app
	</title>
</head>
<body>

<div class="contain">
<ul>
  <li id ='tab'><a href=" {{ url_for('index') }}">Flask</a></li>
  <li id ='tab'><a href="{{ url_for('posts.index')}}">Blog</a></li>
  <li id ='tab'><a href="#">Link</a></li>
  <li id='search'><input type="text" name="s"></li>
  <li class="sign" id='tab'><a href="">Sign up</a></li>
  <li class="sign" id="tab"><a href="">Sign in</a></li>
</ul>

	
</div>


<!-- <h2>{% block content_title  %}
	{% endblock  %}</h2>  -->
<div class="content">

	{% block content   %}

	{% endblock  %}
</div>



</body>
</html>